
    .titulonovedades  {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    color: $color-primario;
    font-size: 40px;
    }
