.texto-superpuesto {
position: absolute;
top: 50%;           /* centro vertical */
left: 50%;          /* centro horizontal */
transform: translate(-50%, -50%);
max-width: 80%;     /* que no sea demasiado ancho */
padding: 0 1rem;    /* espacio lateral */
color: white;
text-align: center;
background: rgba(0, 0, 0, 0.4); /* opcional: fondo semitransparente para mejorar legibilidad */
border-radius: 10px;


}

    .titulonovedades  {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    color: $color-primario;
    font-size: 40px;
    }
